body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.wrapper
{	margin: 0 auto;
	width: 440px; 
	height: 630px;
}

.canvas
{
	width: 100%;
	height: 100%;
	background: #000;
}

#timer {
	left: 25px;
	position: absolute;
	color: orange;
	font-size: 30px;
	font-weight: bold;
}
