@font-face {
    font-family: "Architects Daughter";
    src: url("../font/ArchitectsDaughter-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Indie Flower";
    src: url("../font/IndieFlower-Regular.ttf") format("opentype");
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #9C9C9C;
}

#wrapper {
    width: 424px;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: none;
    justify-content: center;
    display: none;
    z-index: 2;
}

#canvas {
    width: 424px;
    object-fit: cover;
    height: auto;
    transition: height 1s ease-in-out,
        visiblity 0s;
}

.controls {
    width: 100%;
}

#mobile_controls {
    position: absolute;
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

div.main {
    position: absolute;
}

#for_name {
    width: 100%;
    height: 100%;
    position: absolute;
}

#name_insert {
    position: relative;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 30%;
    height: 400px;
    min-width: 320px;
    max-width: 450px;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    background-color: rgb(238, 16, 16);
    color: white;
    line-height: 1;
    font-family: Architects Daughter;
    border-radius: 5%;
    z-index: 1005;
    opacity: 1;
    transition: all 1s ease-in-out;
}

#name_insert form input::placeholder {
    font-size: 45px;
}

#name_insert p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#name_insert p:nth-child(1) {
    font-size: 100px;
    margin-block-start: 10px;
}

#name_insert p:nth-child(2) {
    font-size: 50px;
    margin-block-end: 30px;
}

#name_insert form input {
    padding: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
}

#name_insert form input:nth-child(1) {
    height: 100%;
    width: 100%;
    font-family: Indie Flower;
    font-size: 70px;
    text-align: center;
}

#name_insert form input:nth-child(2) {
    height: 100%;
    width: 100%;
    font-family: Architects Daughter;
    font-size: 70px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    color: white;
    text-transform: uppercase;
    top: 15px;
    position: relative;
}

#name_insert form input:nth-child(1):focus {
    outline: 0;
    border: 0;
}

#name_insert form input:nth-child(2):focus {
    outline: 0;
    border: 0;
}

#start_new_game {
    width: 85%;
    max-width: 450px;
    min-width: 375px;
    height: 60px;
    position: absolute;
    line-height: 10px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
    border: 0;
    font-family: 'Architects Daughter', cursive;
    bottom: 10%;
    right: 200%;
    padding: 20px 2%;
    background-image: url(../images/icons/garage.png);
    background-position-x: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 115, 216, 0);
    cursor: pointer;
    z-index: 1002;
    transition: all 2s ease-in-out;
    color: white;
}

#start_new_game:focus {
    outline: 0px;
}

#pervue {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #8C8C89;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(140, 140, 137, 1) 35%, rgba(140, 140, 137, 1) 65%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
}

video {
    height: 100%;
    width: 100%;
    min-width: 424px;
    opacity: 0;
    transition: all .7s ease-in-out;
    object-fit: contain;
}

#timer {
    opacity: 0;
    text-align: left;
    font-family: 'Architects Daughter';
    width: 100%;
    padding-left: 35px;
    position: absolute;
    color: orange;
    font-size: 30px;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.car {
    position: absolute;
    left: 50px;
    width: 300px;
    transition: .1s all ease-in-out;
}

.car:active {
    transform: scale(1.3);
}

#audiojs_wrapper0,
#audiojs_wrapper1,
#audiojs_wrapper2,
#audiojs_wrapper3,
#audiojs_wrapper4,
#audiojs_wrapper5,
#audiojs_wrapper6 {
    display: none;
}

#slider {
    width: 395px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45px;
    transition: all .5s ease-in-out;
}

.slider-down {
    top: -110%;
}

.slider-down.cars_3d {
    max-width: 570px;
    width: 100%;
    min-height: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100px);
    transition: width 0s, top .5s ease-in-out;
}

img {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#menu {
    position: absolute;
    width: 300px;
    margin: 0 auto;
    background-color: rgba(173, 172, 170, 0.78);
    transform: translateY(-25%);
    top: -70%;
    height: 50%;
    max-height: 450px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    transition: all .65s ease-in-out;
    border-radius: 5%;
}

#menu input {
    height: 25%;
    width: 60%;
    margin: 10px auto;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
    transition: all .25s ease-in-out;
    cursor: pointer;
    border-width: 0;
}

#resume_button.hide_button,
#resume_button.hide_button:hover,
#resume_button.hide_button:active {
    display: none;
}

#menu input:hover {
    width: 70%;
    box-shadow: 7px 8px 6px rgba(40, 40, 40, 70%);
    background-color: rgb(124, 221, 78);
    color: rgb(251, 251, 251);
    border-width: 0;
}

#menu input:focus {
    width: 70%;
    box-shadow: 7px 8px 6px rgba(40, 40, 40, 70%);
    background-color: rgb(135, 240, 86);
}

#menu div {
    display: flex;
    width: 57%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    height: 20%;
    padding: 5%;
}

#menu div img {
    transition: all .3s ease-in-out;
}

#menu div img:hover {
    opacity: 1;
}

.second_top_score {
    display: none;
}

#keyboards_controls {
    position: absolute;
    width: 100%;
    height: 450px;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease-in-out;
}

#icons_controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    width: 424px;
}

#icons_controls img {
    opacity: .5;
    cursor: pointer;
}

#icons_controls img:hover {
    opacity: 1;
}

#key_code {
    color: white;
    font-family: 'Architects Daughter';
    position: relative;
    top: 15%;
    left: 50%;
    text-align: start;
    width: 100%;
    max-width: 550px;
    transform: translate(-50%);
    font-size: 22px;
    background-color: #9C9C9C;
}

#key_code p {
    min-height: 2em;
}

#img_keyboard {
    width: 100%;
    max-width: 550px;
    height: 500px;
    background-image: url(../images/icons/keyboard_icons.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #9C9C9C;
    min-height: 245px;
}

#high_scores {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 100px;
    opacity: 0;
    transition: all 1s ease-in-out;
    color: white;
    z-index: 3;
    display: none;
}

#scores {
    width: 100%;
    max-width: 420px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#title_sect_score {
    position: absolute;
    text-transform: uppercase;
    top: 0px;
    font-family: Architects Daughter;
    font-size: 40px;
}

#scores p {
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#names_hs,
#score_hs {
    position: relative;
    top: 50px;
    width: 100px;
    font-family: Architects Daughter;
    font-size: 27px;
}

#lock_cars {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    width: 100%;
    min-height: 400px;
    background: url(../images/icons/lock.png) bottom no-repeat;
    background-size: 300px;
    z-index: -2;
    opacity: .7;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

#lock_cars:active {
    background-size: 350px;
    opacity: 1;
    transition: all .15s ease-in-out;
}

#lock_cars.active_lock {
    top: 35%;
    z-index: 2;
    opacity: .7;
}

#lock_cars p {
    text-align: center;
    width: 400px;
    font-size: 34px;
    font-family: 'Architects Daughter';
    font-weight: bold;
    color: red;
    top: -20%;
    position: relative;
    margin: 0 auto;
}

#pause {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: calc(50% + 150px);
    height: 50px;
    opacity: 0;
    transition: 1s ease-in-out;
    cursor: pointer;
}

#pause div {
    width: 50px;
    height: 50px;
    background: url(../images/icons/pause.png) no-repeat center;
}

#button_special_signals {
    width: 90%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 77%;
    height: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#button_special_signals img {
    height: 50px;
    width: 50px;
    opacity: .5;
    transition: .4s ease-in-out;
    z-index: 2;
}

#button_special_signals img:hover {
    opacity: 1;
}

#message_score {
    position: absolute;
    bottom: 5%;
    width: 424px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    font-family: 'Architects Daughter';
    font-weight: bold;
    text-transform: uppercase;
    color: darkorange;
    opacity: 0;
    z-index: -1;
    transition: 1s ease-in-out;
    letter-spacing: -.5px;
    background: linear-gradient(90deg, rgba(0, 255, 0, 0.2) 0%, rgba(20, 220, 20, .65) 7%, rgba(20, 220, 20, 0.65) 93%, rgba(0, 255, 0, .2) 100%);
}

#game_cars {
    visibility: collapse;
    z-index: -100;
}

#game_cars img {
    position: absolute;
    width: 1px;
    height: 1px;
}

#car_characteristics {
    display: flex;
    position: absolute;
    width: 100%;
    max-width: 830px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0vw;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
}

#car_characteristics .block {
    margin: 0 15px;
    min-height: 65px;
}

#car_characteristics .block p {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Architects Daughter';
    text-transform: uppercase;
    font-weight: bold;
}

#car_characteristics #price {
    color: white;
    margin: 10px 0;
    min-width: 115px;
}

#car_characteristics .progress {
    background-color: #d8d8d8;
    border-radius: 15px;
    position: relative;
    margin: 15px 0;
    height: 15px;
    width: 300px;
}

#car_characteristics .progress-done {
    background: linear-gradient(to left, yellowgreen, #FF9472);
    box-shadow: 0 3px 3px -5px #FF9472, 0 2px 5px #F2709C;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    min-width: 17%;
    opacity: 1;
    transition: .85s ease-in-out 1s;
}

#num {
    max-width: 570px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 125px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    z-index: 2;
    cursor: grab;
}

.cars_img {
    position: relative;
}

.slider-down.cars_3d {
    overflow: hidden;
    position: absolute;
    top: 42%;
}

#colors {
    position: absolute;
    bottom: 0;
    min-height: 45px;
    max-width: 570px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    z-index: 2;
}

#colors div {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

#status_bar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 45px;
    align-items: center;
    background: #ddc345;
    transition: all .5s ease-in-out;
}

#status_bar .wrapper {
    width: 100%;
    max-width: 570px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}

#status_bar .wrapper .block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#status_bar p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 1.25em;
    text-transform: uppercase;
    font-family: "Architects Daughter";
    font-weight: bold;
    line-height: 45px;
}

#status_bar .logos {
    width: 38px;
    margin-right: 20px;
}

@media (min-width: 1680px) {
    #name_insert {
        min-height: 550px;
        min-width: 520px;
    }

    #name_insert p:nth-child(1) {
        font-size: 150px;
    }

    #name_insert p:nth-child(2) {
        font-size: 75px;
    }

    #name_insert form input:nth-child(1) {
        font-size: 100px;
    }

    #name_insert form input:nth-child(2) {
        font-size: 100px;
    }

    #start_new_game {
        width: 85%;
        max-width: 650px;
        height: 100px;
        font-size: 60px;
        background-size: 100px;
    }

    #slider {
        width: 550px;
    }

    .slider-down.cars_3d {
        width: 550px;
    }

    .slick-prev.slick-arrow,
    .slick-next.slick-arrow {
        transform: translate(0, -20px);
        background-size: 45px;
    }

    ul.slick-dots {
        bottom: -150px;
    }

    ul.slick-dots li button:before {
        font-size: 25px;
        line-height: 25px;
    }

    #lock_cars {
        width: 880px;
        height: 400px;
        background-size: 400px;
    }

    #lock_cars p {
        width: 500px;
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    #car_characteristics {
        flex-direction: column;
    }
    #status_bar .wrapper {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    #slider {
        width: 100vw;
    }
    #slider .slick-slide {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10vw;
    }
    .slider-down.cars_3d {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: all .5s ease-in-out;
    }

    .slider-down.cars_3d {
        max-width: 570px;
        width: 100%;
        min-height: 225px;
    }
    #status_bar .wrapper {
        padding: 0 5px;
    }
    #status_bar p {
        font-size: 1em;
    }

    #status_bar .logos {
        width: 35px;
        margin-right: 12px;
    }

    #colors {
        min-height: 0;
    }

    #car_characteristics .block {
        margin: 0 15px;
        min-height: fit-content;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 5vw;
        box-sizing: border-box;
    }

    #car_characteristics .block p {
        font-size: 16px;
        line-height: 16px;
        display: block;
        min-width: 80px;
        margin-right: 25px;
        text-align: left;
    }

    #car_characteristics .progress {
        background-color: #d8d8d8;
        border-radius: 15px;
        position: relative;
        margin: 15px 0;
        height: 15px;
        width: 300px;
    }

    #car_characteristics #price {
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 400px) {
    #name_insert {
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .slider-down.cars_3d {
        width: 425px;
    }

    #start_new_game {
        min-width: 340px;
        font-size: 30px;
        background-size: 50px;
    }

    #intro_video {
        min-width: 520px;
    }

    #button_special_signals {
        width: 380px;
    }
}

@media (max-width: 380px) {
    .slider-down.cars_3d {
        width: 415px;
    }

    #start_new_game {
        min-width: 300px;
        font-size: 28px;
        background-size: 45px;
    }

    #intro_video {
        min-width: 500px;
    }

    #button_special_signals {
        width: 360px;
    }
}

@media (max-width: 350px) {
    .slider-down.cars_3d {
        width: 400px;
    }

    #start_new_game {
        min-width: 300px;
        font-size: 28px;
        background-size: 40px;

    }

    #intro_video {
        min-width: 465px;
    }

    #button_special_signals {
        width: 335px;
    }
}

@media (max-width: 330px) {
    #name_insert {
        min-width: 300px;
    }

    .slider-down.cars_3d {
        width: 360px;
    }

    #start_new_game {
        min-width: 250px;
        font-size: 28px;
        background-size: 40px;
    }

    #intro_video {
        min-width: 440px;
    }

    #button_special_signals {
        width: 315px;
    }
}
