body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
    overflow: hidden;
    background-color: #8C8C89;
}

.wrapper
{	margin: 0 auto;
	width: 440px; 
	height: 630px;
}

canvas
{
	width: 440px;
	height: 630px;
}

div.main {
    position: absolute;
}

#timer {
    opacity: 0;
	left: 35%;
	position: absolute;
	color: orange;
	font-size: 30px;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.car {
	position: absolute;
    left: 50px;
    width: 300px;
	transition: .1s all ease-in-out;
}

.car:active {
	transform: scale(1.3);
}

#touareg_green, #touareg_white, #touareg_black, #touareg_orange {
    display: none;
}

#i8_green {
    position: relative;
    top: 180px;
}

.color_sect {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    top: 180px;
    left: 100px;
    width: 250px;
}

.color_car {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

div.color_car.white {
    background-color: whitesmoke;
}

div.color_car.blue {
    background-color: blue;
}

div.color_car.green {
    background-color: green;
}

div.color_car.black {
    background-color: black;
}

div.color_car.orange {
    background-color: orange;
}

