/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#slick-slide-control00::before {
    color: #7899d6;
}

#slick-slide-control01::before {
    color: red;
}

#slick-slide-control02::before {
    color: whitesmoke;
}

#slick-slide-control10::before {
    color: whitesmoke;
}

#slick-slide-control11::before {
    color:green;
}

#slick-slide-control12::before {
    color: rgb(201, 120, 45);
}

#slick-slide-control13::before {
    color: blue;
}

#slick-slide-control14::before {
    color: rgb(39, 39, 39);
}

#slick-slide-control20::before {
    color: red;
}

#slick-slide-control21::before {
    color: rgb(120, 35, 214);
}

#slick-slide-control22::before {
    color: rgb(0, 178, 202);
}

#slick-slide-control23::before {
    color: rgb(216, 241, 26);
}

#slick-slide-control24::before {
    color: rgb(6, 221, 101);
}

#slick-slide-control25::before {
    color: blue;
}

#slick-slide-control26::before {
    color: whitesmoke;
}

#slick-slide-control30::before {
    color: whitesmoke;
}

#slick-slide-control31::before {
    color: rgb(195, 205, 50);
}

#slick-slide-control32::before {
    color: turquoise;
}

#slick-slide-control33::before {
    color: rgb(124, 62, 228);
}

#slick-slide-control34::before {
    color: rgb(255, 86, 114);
}

#slick-slide-control35::before {
    color: rgb(253, 253, 106);
}

#slick-slide-control36::before {
    color: rgb(12, 215, 81);
}

#slick-slide-control40::before {
    color: blue;
}

#slick-slide-control41::before {
    color: red;
}

#slick-slide-control42::before {
    color: rgb(228, 138, 9);
}

#slick-slide-control43::before {
    color: green;
}

#slick-slide-control44::before {
    color: rgb(6, 199, 131);;
}

#slick-slide-control45::before {
    color: black;
}

#slick-slide-control46::before {
    color: whitesmoke;
}

#slick-slide-control47::before {
    color: rgb(153, 35, 153);
}

#slick-slide-control50::before {
    color: silver;
}

#slick-slide-control51::before {
    color: greenyellow;
}

#slick-slide-control52::before {
    color: violet;
}

#slick-slide-control53::before {
    color: orange;
}

#slick-slide-control70::before {
    color: silver;
}

#slick-slide-control71::before {
    color: rgb(255, 116, 139);
}

#slick-slide-control72::before {
    color: rgb(255, 51, 51);
}

#slick-slide-control73::before {
    color: rgb(224, 235, 76);
}

#slick-slide-control74::before {
    color: rgb(6, 199, 80);;
}

#slick-slide-control75::before {
    color: rgb(14, 207, 207);
}

#slick-slide-control76::before {
    color: rgb(255, 255, 255);
}

#slick-slide-control77::before {
    color: rgb(255, 0, 0);
    animation: light .5s ease-in-out infinite;
}

#slick-slide-control80::before {
    color: rgb(255, 0, 0);
}

#slick-slide-control81::before {
    color: rgb(255, 174, 0);
}

#slick-slide-control82::before {
    color: rgb(0, 195, 255);
}

#slick-slide-control90::before {
    color: rgb(255, 0, 0);
}

#slick-slide-control91::before {
    color: rgb(172, 0, 240);
}

#slick-slide-control92::before {
    color: rgb(78, 209, 17);
}

#slick-slide-control100::before {
    color: rgb(255, 0, 0);
}

#slick-slide-control101::before {
    color: rgb(0, 36, 240);
}

#slick-slide-control102::before {
    color: rgb(78, 209, 17);
}

#slick-slide-control110::before {
    color: #FD831C;
}

#slick-slide-control111::before {
    color: #FA2018;
}

#slick-slide-control112::before {
    color: #252525;
}

#slick-slide-control120::before {
    color: #F4CC4C;
}

#slick-slide-control121::before {
    color: #8AF448;
}

#slick-slide-control122::before {
    color: #4C9AF4;
}

#slick-slide-control123::before {
    color: #E33E46;
}

#slick-slide-control130::before {
    color: #656598;
}

#slick-slide-control131::before {
    color: #C77481;
}

#slick-slide-control132::before {
    color: #8bd387;
}

#slick-slide-control133::before {
    color: #000000;
}

#slick-slide-control140::before {
    color: #F0F1F4;
}

#slick-slide-control141::before {
    color: #F2E663;
}

#slick-slide-control142::before {
    color: #62DBEF;
}

#slick-slide-control150::before {
    color: #295079;
}

#slick-slide-control151::before {
    color: #851D2A;
}

#slick-slide-control152::before {
    color: #0DA35E;
}

#slick-slide-control153::before {
    color: #D99900;
}

#slick-slide-control154::before {
    color: #EFEFEF;
}

#slick-slide-control160::before {
    color: #7CBEDF;
}

#slick-slide-control161::before {
    color: #C8758D;
}

#slick-slide-control162::before {
    color: #377E1A;
}

#slick-slide-control163::before {
    color: #FAFAFA;
}

#slick-slide-control170::before {
    color: #295079;
}

#slick-slide-control171::before {
    color: #722D23;
}

#slick-slide-control172::before {
    color: #9A2351;
}

#slick-slide-control173::before {
    color: rgb(22, 214, 96);
}

#slick-slide-control174::before {
    color: #875B2C;
}

#slick-slide-control180::before {
    color: #0e0e0e;
}

#slick-slide-control181::before {
    color: rgb(230, 230, 230);
}

#slick-slide-control182::before {
    color: rgb(20, 48, 204);
}

#slick-slide-control190::before {
    color: silver;
}

#slick-slide-control191::before {
    color: rgb(255, 208, 0);
}

#slick-slide-control192::before {
    color: #9c1c1c;
}

@keyframes light {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}

img:focus {
    outline: -webkit-focus-ring-color none 0px;
    outline-width: none;
}
