/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#slick-slide-control10::before {
    color: turquoise;
}

#slick-slide-control11::before {
    color: yellow;
}

#slick-slide-control12::before {
    color: rgb(157, 255, 0);
}

#slick-slide-control13::before {
    color: rgb(0, 214, 208);
}

#slick-slide-control14::before {
    color: blue;
}

#slick-slide-control15::before {
    color: violet;
}

#slick-slide-control16::before {
    color: red;
}

#slick-slide-control17::before {
    color: whitesmoke;
}

#slick-slide-control20::before {
    color: whitesmoke;
}

#slick-slide-control21::before {
    color:green;
}

#slick-slide-control22::before {
    color: rgb(201, 120, 45);
}

#slick-slide-control23::before {
    color: blue;
}

#slick-slide-control24::before {
    color: rgb(39, 39, 39);
}

#slick-slide-control30::before {
    color: red;
}

#slick-slide-control31::before {
    color: rgb(120, 35, 214);
}

#slick-slide-control32::before {
    color: rgb(0, 178, 202);
}

#slick-slide-control33::before {
    color: rgb(216, 241, 26);
}

#slick-slide-control34::before {
    color: rgb(6, 221, 101);
}

#slick-slide-control35::before {
    color: blue;
}

#slick-slide-control36::before {
    color: whitesmoke;
}

#slick-slide-control40::before {
    color: whitesmoke;
}

#slick-slide-control41::before {
    color: rgb(195, 205, 50);
}

#slick-slide-control42::before {
    color: turquoise;
}

#slick-slide-control43::before {
    color: rgb(124, 62, 228);
}

#slick-slide-control44::before {
    color: rgb(255, 86, 114);
}

#slick-slide-control45::before {
    color: rgb(253, 253, 106);
}

#slick-slide-control46::before {
    color: rgb(12, 215, 81);
}

#slick-slide-control50::before {
    color: blue;
}

#slick-slide-control51::before {
    color: red;
}

#slick-slide-control52::before {
    color: rgb(228, 138, 9);
}

#slick-slide-control53::before {
    color: green;
}

#slick-slide-control54::before {
    color: rgb(6, 199, 131);;
}

#slick-slide-control55::before {
    color: black;
}

#slick-slide-control56::before {
    color: whitesmoke;
}

#slick-slide-control57::before {
    color: rgb(153, 35, 153);
}

#slick-slide-control60::before {
    color: silver;
}

#slick-slide-control61::before {
    color: greenyellow;
}

#slick-slide-control62::before {
    color: violet;
}

#slick-slide-control63::before {
    color: orange;
}


